#AppDiv {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

#WindowManager {
    position: relative;
    float: right;
    width: 79.5%;
    height: 100%;
}

.Window {
    border: 1px solid black;
}

#SideBar {
    border: 1px solid black;
    height: 100%;
    width: 20%;
    float: left;
}
